<div class="header-list">
  <div class="row-fluid">
    <div class="span6"><h2><%= h2 %></h2></div>
    <div class="span6">
      <div class="pull-right"><%= link_to link_text, url, :class => "btn btn-success" %></div>
    </div>
  </div>
</div>
